.emailContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: solid 1px #CFD2DC;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.favoriteText {
    color: #E54065;
    margin-left: 60px;
}

.dateAndFavoriteDiv {
    display: flex;
}

.readDiv {
    background-color: #E1E4EA;
}

.highlightedDiv {
    border: #E54065 solid 1px;
    background-color: #fff;
}

